@import '../../../static/exp';

.infoItemsRow {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-bottom: 30px;
  border-bottom: 1px solid @hr;
  .item {
    &:not(:first-child) {
      margin-left: 20px;
    }
    flex-basis: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    &.tickets {
      .icon {
        background: @adm_gray;
      }
    }
    .icon {
      background: @btn_register;
      width: 80px;
      height: 50px;
      color: @w;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
    .description {
      background: @l_gray;
      padding: 10px;
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      div{
        background: @l_gray;
        padding: 10px;
        flex: 1;
        flex-direction: column;
      }
      p {
        &.name {
          .font(@m_r, 12);
          font-weight: bold;
        }
        &.count {
          .font(@m_r, 12);
        }
      }
    }
  }
}

.contentInnerWrap{
  height: 100%;
}

.lang {
  display: flex;
  .font(@m_r, 16);
  background: @l_gray;
  align-items: center;
  margin-left: auto;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @btn_register;
    width: 80px;
    color: @w;
    .font(@m_r, 16);
  }
  & > a {
    &:not(:last-child) {
      border-right: 1px solid @hr;
    }
  }
  a {
    &.active {
      color: @btn_register;
    }
    .font(@m_r, 16);
    height: 40px;
    padding: 10px;

  }
}
