@import '../../../../static/exp';

h3 {
  .font(@m_r, 24);
  margin-bottom: 7px;
}

.searchResultsWrap {
  width: 100%;
  margin: 60px 0;
    .thead {
      display: grid;
      grid-template-columns: 30px 40px 65px 100px 85px 80px auto auto 50px 130px 100px 110px 110px;
      grid-template-rows: 20px;
      grid-column-gap: 10px;
      div {
        &:first-child {
          select {
            .font(@m_r, 10);
            text-transform: uppercase;
            color: @btn_register;
          }
        }
        display: flex;
        align-items: center;
        justify-content: center;
        background: @l_gray;
        .font(@m_r, 12);
        select {
          .font(@m_r, 12);
          width: 100%;
          border: none;
          background: @trans;
        }
        input {

        }
      }
    }
  }

.multiEdit {
  display: flex;
  .font(@m_r, 12);
  width: 100%;
  max-width: 280px;
  align-items: center;
  background: @l_gray;
  margin-bottom: 10px;
  span {
    display: flex;
    .font(@m_r, 12);
    background: @adm_gray;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}

.tableContent {
  width: 100%;
  .cols {

    display: grid;
    grid-template-columns: 30px 40px 65px 100px 85px 80px auto auto 50px 130px 100px 110px 110px;
    grid-template-rows: 60px;
    grid-template-areas: "cols cols cols cols cols cols cols cols cols cols cols cols" "tags tags tags tags tags tags tags tags tags tags tags tags";
    grid-column-gap: 10px;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding: 5px;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      p {
        width: auto;
        margin: 0 5px;
        padding: 10px 5px;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        .font(@m_r, 10);
      }
      &.lng {
        flex-direction: column;
        span {
          .font(@m_r, 10);
          text-transform: uppercase;
          font-weight: bold;
          color: @lng_grey;
          &.isset {
            color: @green;
          }
        }
      }
      .cols {
        grid-area: cols;
      }
    }
  }
  .fullWidth {
    grid-area: tags;
    display: block;
    background: @l_gray;
    .font(@m_r, 10);
    color: #505050;
    padding: 0;
    &::after{
      content: '';
      display: block;
      clear: both;
    }
    p{
      display: inline-block;
      vertical-align: -webkit-baseline-middle;
      text-align: center;
      width: calc(100% - 87px);
    }
    button {
      align-self: flex-end;
      border: none;
      background: @adm_gray;
      padding: 3px 0;
      text-indent: 17px;
      float: right;
      width: 87px;
      span {
        padding: 0 10px 0 12px;
        svg {
          width: 8px;
          height: 4px;
        }
      }
    }

  }
}
