.wrap {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
.adminWrap {
  width: 100%;
}
.adminContent {
  display: flex;
  align-items: stretch;
}
.contentWrap {
  width: 100%;
  padding: 30px 0 0 40px;
}
h3 {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 7px;
}
.searchResultsWrap {
  width: 100%;
  margin: 60px 0;
}
.searchResultsWrap .thead {
  display: grid;
  grid-template-columns: 30px 40px 65px 100px 85px 80px auto auto 50px 130px 100px 110px 110px;
  grid-template-rows: 20px;
  grid-column-gap: 10px;
}
.searchResultsWrap .thead div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
}
.searchResultsWrap .thead div:first-child select {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: #0B65B1;
}
.searchResultsWrap .thead div select {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  border: none;
  background: transparent;
}
.multiEdit {
  display: flex;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  max-width: 280px;
  align-items: center;
  background: #f1f1f1;
  margin-bottom: 10px;
}
.multiEdit span {
  display: flex;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  background: #c7c7c7;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.tableContent {
  width: 100%;
}
.tableContent .cols {
  display: grid;
  grid-template-columns: 30px 40px 65px 100px 85px 80px auto auto 50px 130px 100px 110px 110px;
  grid-template-rows: 60px;
  grid-template-areas: "cols cols cols cols cols cols cols cols cols cols cols cols" "tags tags tags tags tags tags tags tags tags tags tags tags";
  grid-column-gap: 10px;
}
.tableContent .cols div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 5px;
}
.tableContent .cols div img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.tableContent .cols div p {
  width: auto;
  margin: 0 5px;
  padding: 10px 5px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
}
.tableContent .cols div.lng {
  flex-direction: column;
}
.tableContent .cols div.lng span {
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #bfbfbf;
}
.tableContent .cols div.lng span.isset {
  color: #34ae01;
}
.tableContent .cols div .cols {
  grid-area: cols;
}
.tableContent .fullWidth {
  grid-area: tags;
  display: block;
  background: #f1f1f1;
  font-family: 'MyriadPro-Regular', sans-serif;
  font-size: 10px;
  font-size: 0.625rem;
  color: #505050;
  padding: 0;
}
.tableContent .fullWidth::after {
  content: '';
  display: block;
  clear: both;
}
.tableContent .fullWidth p {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  text-align: center;
  width: calc(100% - 87px);
}
.tableContent .fullWidth button {
  align-self: flex-end;
  border: none;
  background: #c7c7c7;
  padding: 3px 0;
  text-indent: 17px;
  float: right;
  width: 87px;
}
.tableContent .fullWidth button span {
  padding: 0 10px 0 12px;
}
.tableContent .fullWidth button span svg {
  width: 8px;
  height: 4px;
}
/*# sourceMappingURL=searchResults.css.map */